{% extends 'dayStarApp/base.html' %} {% block content %} {% load static %}

<div class="container">
    <main class="main" id="main">
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
      <h1>This is for testing the index page and seeing if its working well</h1>
    </main>
</div>

{% endblock %}
