{% extends 'dayStarApp/base.html' %} {% block content %} {% load static %}

<main class="main" id="main">
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
  <h1>this is just here for a testing purpose</h1>
</main>

{% endblock %}
